ngb-rating {
    font-size: 30px;
    color: rgb(255, 153, 0);
    background: rgb(255, 255, 255);
  }

.card-header {
  background-color: orange;
  color: white;
}

.novo-comentario {
  background-color: rgb(105, 105, 104);
  color: white;
}

.card-footer{
  background-color: orange;
}

textarea {
  border: solid 1px;
}
