.thumbnail {
    display: inline-block;
    max-width:10cm;
    max-height:10cm;
    width: auto;
    height: 5cm;
  }

.card-body {
  background-color: #eeeeee;
}

ngb-rating {
  font-size: 30px;
  color: rgb(255, 153, 0);
  background: #eeeeee;
}